@charset "utf-8";
table td{
	font-family: "仿宋";
}
.tt{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
table td,table th{
	border: solid 1px #ddd;
	border-collapse:collapse;
	padding: 4px;
}
table th{
	text-align: right;
}
.tb{
	text-align: center;
}
.tb input{
	padding:10px;
	font-size: 18px;
	cursor:pointer;
}